@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto+Slab:wght@100;200;300;500;600;700;800&display=swap%27");

body {
  text-align: center;
  position: center;
  margin: auto;
  width: fit-content;
  padding: 1vw;
}

h1, h3 {
  font-family: "Roboto Slab", sans-serif;
  color: #6b192f;
}

ul {
  font-family: "Fira Sans", sans-serif;
  list-style-type: none;
  color: #131d30;
}

.barCharts {
  display: flex;
  flex-direction: row;
  fill: #115c8f;
}

.lineCharts, .areaCharts {
  display: flex;
  flex-direction: row;
}

.lineCharts svg polyline {
  fill: none;
  stroke: #115c8f;
  stroke-width: 0.2;
  transform: scaleX(2.7) scaleY(14) translateY(-185px);
}

.areaCharts svg polyline {
  fill: #115c8f;
  transform: scaleX(2.7) scaleY(14) translateY(-185px);
}

.scatterplot {
  fill: #115c8f;
}